*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
body{
background-image: url("triangelbakgrunn3.png");
background-size: cover;
}
.loginside{
width: 350px;
top: 50%;
left: 50%;
transform: translate( -50%, -50%);
position: absolute
}
.loginside h1{
font-size: 40px;
text-align: center;
text-transform: uppercase;
margin: 40px 0;
}
.loginside p{
font-size: 20px;
margin: 15px 0;
}

.loginside input{
font-size: 16px;
width: 100%;
padding: 15px 10px;
outline: none;
}
.loginside button{
font-size: 18px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 45%;
border-radius: 5px;
border: 0;
}
#blueknapp{
background-color: aqua;
}  
#knapper{
display: flex;
width: 100%;
justify-content: space-between;
}